<div class="footer">
  <ul class="nav">
    <li class="nav__item">
      <a href="#" class="nav__link">Find your dream home</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Sell a house</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Rent a house</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Contact us</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Submit Your Property</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Work with us</a>
    </li>
  </ul>
  <p class="copyright">
    &copy; Copyright 2017 by XYZ. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam, fugit blanditiis! Dicta laborum excepturi
    fugiat ipsam repellendus corrupti optio sint sapiente! Ratione deserunt ipsum provident, minus harum eligendi quidem fuga?
  </p>
</div>
