<div class="features">
  <div class="feature">
    <svg class="feature__icon">
      <use xlink:href="../../assets/img/sprite.svg#icon-global"></use>
    </svg>
    <h4 class="heading-4 heading-4--dark">World's best Luxury home</h4>
    <p class="feature__text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae incidunt suscipit praesentium molestiae! Voluptate pariatur laboriosam
      ipsa aperiam, atque cumque neque dicta, excepturi repudiandae quidem aspernatur tenetur sunt temporibus tempora!
    </p>
  </div>
  <div class="feature">
    <svg class="feature__icon">
      <use xlink:href="../../assets/img/sprite.svg#icon-trophy"></use>
    </svg>
    <h4 class="heading-4 heading-4--dark">Only the best properties</h4>
    <p class="feature__text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae incidunt suscipit praesentium molestiae! Voluptate pariatur laboriosam
      ipsa aperiam, atque cumque neque dicta, excepturi repudiandae quidem aspernatur tenetur sunt temporibus tempora!
    </p>
  </div>
  <div class="feature">
    <svg class="feature__icon">
      <use xlink:href="../../assets/img/sprite.svg#icon-map-pin"></use>
    </svg>
    <h4 class="heading-4 heading-4--dark">All homes in top locations</h4>
    <p class="feature__text">
      Lorem ipsum dolor sit amet consectetur praesentium molestiae! Voluptate pariatur laboriosam ipsa aperiam, atque cumque neque dicta, excepturi
      repudiandae quidem aspernatur tenetur sunt temporibus tempora!
    </p>
  </div>
  <div class="feature">
    <svg class="feature__icon">
      <use xlink:href="../../assets/img/sprite.svg#icon-key"></use>
    </svg>
    <h4 class="heading-4 heading-4--dark">New home in one week</h4>
    <p class="feature__text">
      Lorem ipsum molestiae! Voluptate pariatur laboriosam ipsa aperiam, atque cumque neque dicta, excepturi repudiandae quidem aspernatur tenetur
      sunt temporibus tempora!
    </p>
  </div>
  <div class="feature">
    <svg class="feature__icon">
      <use xlink:href="../../assets/img/sprite.svg#icon-presentation"></use>
    </svg>
    <h4 class="heading-4 heading-4--dark">Top 1% realtors</h4>
    <p class="feature__text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae incidunt suscipit praesentium molestiae! Voluptate pariatur laboriosam
      ipsa aperiam!
    </p>
  </div>
  <div class="feature">
    <svg class="feature__icon">
      <use xlink:href="../../assets/img/sprite.svg#icon-lock"></use>
    </svg>
    <h4 class="heading-4 heading-4--dark">Secure payment's on nexter</h4>
    <p class="feature__text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae incidunt suscipit praesentium molestiae! Voluptate pariatur laboriosam
      ipsa aperiam, atque cumque neque dicta, excepturi repudiandae quidem aspernatur tenetur sunt temporibus tempora!
    </p>
  </div>
</div>
